body{
    background-color:hsl(180, 8%, 59%);
    background-image:url(../img);
    background-repeat: no-repeat
}

    .logo img{
        width: 20%;

    }

    header{
        background-color: blue;
        padding: 3%;
    }

    /*classe atribuida para a div que vai receber logotipo*/
    .logo{
        background-color:rgb(255,255,0);
    }

    nav{background-color: rgb(184,209, 231);
    }

    main{
        background-color: rgb(55, 138, 248);
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    section{
        background-color: rgb(236, 237, 243);
        font-size: 1cm;
    }

    footer{
         background-color: rgb(112, 48, 160);
        padding: 3%;}

    .cabecalho{
        padding: 3%;
    }

    .rodape{
        padding: 3%;
    }

    h1,h2,{
        font-style: italic;
        font-size: 1cm;
    }
    p{
    
        font-size: 1.3em;
    }

    h2{
        font-style: oblique;
        line-height: 1cm;
    }